
.typing-demo {
    width: 24ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  body{
    background-color: white;
    /* color: black; */
  }
  
.dark-mode {
    background-color: white;
    color: black !important ;
  }



body.dark-mode {
  background-color:white;
  color: black;
}
body.dark-mode .navbar {
  background-color:white;
}
body.dark-mode .navbar .nav-link, body.dark-mode .navbar .navbar-brand {
  color: black !important;
}


body.dark-mode .navbar-toggler {
  border-color: black;
}
body.dark-mode .navbar-toggler-icon {
  background-color: white;
}



h2 {
  font-size: 40px;
  font-weight: 700;
}
h6 {
  font-size: 16px;
}
p {
  font-size: 16px;
  line-height: 26px;
  color: #afb4b9;
  font-weight: normal;
}
a {
  color: #ffde00;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
  outline-offset: 0;
}
a:hover {
  color: #fabf15;
}
i {
  vertical-align: middle;
}
ul {
  padding: 0 !important;
}
li {
  list-style: none;
}
.color-base {
  color: #fabf15;
}
.bg-one-dark {
  background: #043f3a !important;
}
.p-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.mt-50 {
  margin-top: 50px;
}
.btn {
  text-transform: uppercase;
}
.btn:focus {
  box-shadow: none;
}
.btn:hover {
  color: #fff;
}
.btn-medium {
  font-family: "Rubik", sans-serif;
  background: transparent;
  color: #fabf15;
  font-weight: 600;
  font-size: 16px;
  padding: 14px 45px;
  border-radius: 4px;
  border: 1px solid #fabf15;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-medium:hover {
  background: #fabf15;
  color: #222;
  -webkit-box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
}
.btn-fill {
  background: #fabf15 !important;
  color: #222 !important;
}
.btn-fill:hover {
  background: #ffb400;
  border-color: #ffb400;
}
.about-info {
  border: 2px solid rgba(255, 255, 255, 0.2);
}
#about-section img {
  position: relative;
  z-index: 1;
}
.inline-social ul li {
  display: inline-block;
  margin-right: 10px;
}
.bullet-check li {
  position: relative;
  padding-left: 30px;
  padding-bottom: 10px;
  color: #fff;
}
.bullet-check li:last-child {
  padding-bottom: 0;
}
.bullet-check li:before {
  position: absolute;
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 15px;
  left: 0;
}

/*! responsive */
@media (max-width: 480px) {
  .about-info-wrap {
    padding: 10px !important;
    margin-top: 30px;
  }
  .about-info {
    padding: 30px !important;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 32px;
  }
  .wrap-button img {
    margin-top: 20px;
  }
  .about-info-wrap {
    padding: 10px !important;
    margin-top: 30px;
  }
  .about-info {
    padding: 30px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 30px;
  }
  .wrap-button img {
    margin-top: 20px;
  }
  .about-bullet {
    max-width: 100%;
    flex: 100%;
  }
  .about-info-wrap {
    padding: 10px !important;
    margin-top: 30px;
  }
  .about-info {
    padding: 30px !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .about-bullet {
    max-width: 100%;
    flex: 100%;
  }
}


.border-glow{
  -webkit-box-shadow:0px 0px 10px 0px rgba(255,255,255,0.9);
-moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.9);
box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.9);
}




.circle-wrap {
  margin: 30px auto;
  width: 150px;
  height: 150px;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: #d2eaf1;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

/* color animation */

/* 3rd progress bar */
.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #227ded;
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(180deg);
}

@keyframes fill{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

  
.name{
  color: #ffb400;
  font-size: 20px;
  font-weight: 600;
}

.border-glow1{
  -webkit-box-shadow:0px 0px 28px 0px rgba(0,0,0,0.9);
-moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.9);
box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.9);
}