
.typing-demo {
    width: 24ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  body{
    background-color: white;
    /* color: black; */
  }
  
.dark-mode {
    background-color: black;
    color: white !important ;
  }



  
.about-section{
  position:relative;
  padding:120px 0px;
}

.about-section .content-column{
  position:relative;
  margin-bottom:40px;
}

.about-section .content-column .inner-column{
  position:relative;
  padding-top:50px;
  padding-right:100px;
}

.about-section .content-column .text{
  position:relative;
  
  font-size:15px;
  line-height:2em;
  margin-bottom:40px;
}

.about-section .content-column .email{
  position:relative;
  color:#252525;
  font-weight:700;
  margin-bottom:50px;
}

.about-section .image-column{
  position:relative;
  margin-bottom:50px;
}

.about-section .image-column .inner-column{
  position:relative;
  padding:40px 40px 0px 0px;
  margin-left:50px;
}

.about-section .image-column .inner-column:after{
  position:absolute;
  content:'';
  right:0px;
  top:0px;
  left:40px;
  bottom:100px;
  z-index:-1;
  border:2px solid #d7a449;
}

.about-section .image-column .inner-column .image{
  position:relative;
}

.about-section .image-column .inner-column .image:before{
  position:absolute;
  content:'';
  left:-50px;
  bottom:-50px;
  width:299px;
  height:299px;
 
}

.about-section .image-column .inner-column .image img{
  position:relative;
  width:100%;
  display:block;
}



.about-section .btn-style-three:before {
    position: absolute;
    content: '';
    left: 10px;
    top: 10px;
    z-index: -1;
    right: -10px;
    bottom: -10px;
    background: url(https://i.ibb.co/DKn55Qz/pattern-1.jpg) repeat;
}
.about-section .btn-style-three:hover {
    color: #ffffff;
    background: #d7a449;
}
.about-section .btn-style-three {
    position: relative;
    line-height: 24px;
    color: #252525;
    font-size: 15px;
    font-weight: 700;
    background: none;
    display: inline-block;
    padding: 11px 40px;
    background-color: #ffffff;
    text-transform: capitalize;
    border: 2px solid #d7a449;
    font-family: 'Arimo', sans-serif;
}
.sec-title2{
  color:#fff;
}
.sec-title {
    position: relative;
    padding-bottom: 40px;
}
.sec-title .title {
    position: relative;
    color: #d7a449;
    font-size: 18px;
    font-weight: 700;
    padding-right: 50px;
    margin-bottom: 15px;
    display: inline-block;
    text-transform: capitalize;
}
.sec-title .title:before {
    position: absolute;
    content: '';
    right: 0px;
    bottom: 7px;
    width: 40px;
    height: 1px;
    background-color: #bbbbbb;
}



body.dark-mode {
  background-color: rgb(108, 117, 125);
  color: white;
}
body.dark-mode .navbar {
  background-color: rgb(108, 117, 125);
}
body.dark-mode .navbar .nav-link, body.dark-mode .navbar .navbar-brand {
  color: white !important;
}


body.dark-mode .navbar-toggler {
  border-color: white;
}
body.dark-mode .navbar-toggler-icon {
  background-color: white;
}

body.about-section.inner-column.text::after{
  color: white !important;
}
